
#header {
    background-color: #FFFFFF;
    width: 100%;
    height: 20%;
    align-content: center;
}

#main-content {
    background-color: #EEEEEE;
    width:100%;
    min-height: 80%;
    height: auto;
}

#contact {
    background-color: #777777;
    width:100%;
    height: 20%;
    display: inline-block;
}

body {
    position: relative;
    height: 100%;
    margin:0;
    padding: 0;
}

#hitco-logo {

    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    width:20%;
    display: inline-block;
    float: none;
}

ul {
    width: 100%;
}

a {
    position: relative;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}



.navbar {
    text-align: center;
}

.container-fluid {
    position:relative;
    top:15px;
}

#hq {
    position: relative;
    float:left;
    text-align: center;
    width:40%;
}

h4 {
    color: #EFEFEF;
}

#branch {
    position:relative;
    float:left;
    left: 15px;
    width: 30%;
    text-align: center;
}

#contact-details {
    top:0;
    float:left;
    width: 30%;
    text-align: center;
}

div {

}

#mailid {
    color: white;
}

address {
    color: #B6B6B6;
}

#data {
    float:none;
    align-content: center;
}

#photo {
    position: relative;
    border: 1px solid;
    margin: 10px;
}

.col-md-7 {
    margin: 0;
    position:relative;
    top: 27%;

}

.featurette-heading {
    text-align: center;
}

.lead {
    text-align: center;
}

.featurette {
    height: 100%;
}

#captions div {
}

.owl-carousel {
}

.carousel-caption p  {
    font-size: 25px;
}

.container {
    margin-bottom: 10px;
    margin-top: 10px;
}


